<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="console" xsi:type="Console" layout="[${longdate}] - [${level}] - ${message}"/>
    <!-- 普通日志设置 -->
    <target name="autofile" xsi:type="File"
            layout="[${longdate}] - [${level}] - [A] - ${message}"
            fileName="${basedir}/logs/logfile.log"
            archiveFileName="${basedir}/archives/log.{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Date"
            archiveDateFormat="yyyyMMdd"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="utf-8" />
    <target name="file" xsi:type="File"
            layout="[${longdate}] - [${level}] - [M] - ${message}"
            fileName="${basedir}/logs/logfile.log"
            archiveFileName="${basedir}/archives/log.{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Date"
            archiveDateFormat="yyyyMMdd"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="utf-8" />
    <!-- 数据库日志设置 项目管理 -->
    <target name="amdbLog" xsi:type="File"
            layout="${message}"
            fileName="${basedir}/logs/amdblogfile.log"
            archiveFileName="${basedir}/archives_amdb/log.{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Date"
            archiveDateFormat="yyyyMMdd"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="utf-8" />
    <!-- 数据库日志设置 权限 -->
    <target name="pmdbLog" xsi:type="File"
          layout="${message}"
          fileName="${basedir}/logs/pmdblogfile.log"
          archiveFileName="${basedir}/archives_pmdb/log.{#}.txt"
          archiveEvery="Day"
          archiveNumbering="Date"
          archiveDateFormat="yyyyMMdd"
          concurrentWrites="true"
          keepFileOpen="false"
          encoding="utf-8" />
  </targets>
  <rules>
    <logger name="file" minlevel="Trace" writeTo="console,file"/>
    <logger name="autofile" minlevel="Trace" writeTo="console,autofile"/>
    <logger name="amdbLog" minlevel="Trace" writeTo="console,amdbLog"/>
    <logger name="pmdbLog" minlevel="Trace" writeTo="console,pmdbLog"/>
  </rules>
</nlog>